<%= @visitor.first_name %> <%= @visitor.last_name %> s'est inscrit à l'événement "<%= @event.title %></h1>
<%= "=" * 60 %>

<%= @visitor.first_name %> <%= @visitor.last_name %> (<%= @visitor.email %>) participera, le <%= @event.start_date %>à <%= @event.location %>, à l'événement "<%= @event.title %>"

À plus tard !
Les admins de Event in Lyon