<div class="container">
  <p id="notice"><%= notice %></p>

  <h1 class="text-center">Bienvenue sur Event Brite</h1>
  <% if flash[:danger] %>
  <div class="alert alert-danger">
    <%= flash[:danger] %>
  </div>
  <% end %>

  <p class="text-center">
    <%= link_to 'Nouvel événement', new_event_path, class: "btn btn-success" %>
  </p>
  <div class="accordion" id="accordionEvent">
    <% @events.each do |event| %>
    <div class="card">
      <div class="card-header" id="heading<%= event.id %>">
        <h2 class="mb-0 text-center">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse<%= event.id %>" aria-expanded="true" aria-controls="collapse<%= event.id %>">
            <%= event.title %> (<%= event.start_date %>)
          </button>
        </h2>
      </div>

      <div id="collapse<%= event.id %>" class="collapse" aria-labelledby="heading<%= event.id %>" data-parent="#accordionEvent">
        <div class="card-body">
          <div><%= event.description %></div><hr/>
          <p>
            <strong>Date&nbsp;: </strong><%= event.start_date %>
          </p>
        </div>
        <div class="card-footer text-muted text-center">
          <div>
            <%= link_to 'En savoir plus', event_path(event), class: "btn btn-primary" %>
          </div>
          <% if event.admin == current_user %>
          <div>
            <% else %>
            <div style="visibility: hidden">
              <% end %>
              <%= link_to 'Modifier', edit_event_path(event), class: "btn btn-info" %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
