<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="card text-center">
  <div class="card-header">
    <h1><%= @event.title %></h1>
  </div>
  <div class="card-body">
    <p class="card-text display-5"><%= @event.description %></p><hr/>
    <p class="display-5">
      <strong>Date&nbsp;:</strong>
      <%= @event.start_date %><br/>
      <strong>Durée&nbsp;:</strong>
      <%= @event.duration %> minutes<br/>
      <strong>Price&nbsp;:</strong>
      <%= @event.price %> €<br/>
      <strong>Location&nbsp;:</strong>
      <%= @event.location %>
    </p>
  </div>
  <div class="card-footer text-muted">
    <% if @event.admin == current_user %>
    <%= link_to 'Edit', edit_event_path(@event), class: "btn btn-info"%>
    <% end %>
    <%= link_to 'Back', root_path, class: "btn btn-primary" %>
  </div>
</div>




  <p>
    
  </p>

  
</div>